
@font-face {
    font-family: 'Inter'; /*a name to be used later*/
    src: url('/fonts/inter/InterDisplay-Medium.woff2'); /*URL to font*/
}

:root {
    --font-color: #f4eeff;
    --main-bg: #211c24;
    --panel-bg: #19171a;
    --update-bg: #332836;
    --border: #382e3a;
    --navbar-select: #9658a6;
    --dropdown-bg: #4c3e4e;
}

/* unvisited link */
a:link {
  color: #dab0ff;
}

/* visited link */
a:visited {
  color: #3e3cda;
}

/* mouse over link */
a:hover {
  color: #36f2ff;
}

html, body {
            height: 100%; /* Ensures full height for background */
            margin: 0; /* Removes default body margin */
            padding: 0; /* Removes default body padding */
        }

body {
    background-image: url('/img/bg/spaceglow.webp');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;

}

* {
    font-family: "Inter";
    font-size: 12px;
    color: var(--font-color);
    text-align: left;
    font-family: Inter;
    font-size: medium;
    cursor: url("cursor.png"), pointer;
}

.banner {
    border-radius: 10px;
    margin: 6px;
    border: 2px solid var(--border);
    overflow: hidden;
}

.container {
    text-align: center;
    padding: 10px 15px;
    margin: auto;
    width: 65%;
    background: var(--main-bg);
    border: 2px solid var(--border);
    border-radius: 0px;
}
