
@font-face {
    font-family: 'Inter'; /*a name to be used later*/
    src: url('/fonts/inter/InterDisplay-Medium.woff2'); /*URL to font*/
}

html, body {
            height: 100%; /* Ensures full height for background */
            margin: 0; /* Removes default body margin */
            padding: 0; /* Removes default body padding */
        }

body {
    background-image: url('/img/bg/spaceglow.webp');
    background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}

* {
    font-family: Inter;
    font-size: 13px;
}

.banner {
    border-radius: 10px;
    overflow: hidden;
}

.container {
    text-align: center;
    padding: 5px 10px;
    margin: auto;
    width: 65%;
    background: #333;
    border-radius: 10px;
}
