
@font-face {
    font-family: 'Inter'; /*a name to be used later*/
    src: url('/fonts/inter/InterDisplay-Medium.woff2'); /*URL to font*/
}

html, body {
            height: 100%; /* Ensures full height for background */
            margin: 0; /* Removes default body margin */
            padding: 0; /* Removes default body padding */
        }

body {
    background-image: url('/img/bg/spaceglow.webp');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    cursor: url("cursor.png"), auto;

}

* {
    font-family: Inter;
    font-size: 14px;
}

.banner {
    border-radius: 20px;
    margin: 8px;
    border: 3px solid #202020;
    overflow: hidden;
}

.container {
    text-align: center;
    padding: 10px 15px;
    margin: auto;
    width: 65%;
    background: #333;
    border: 5px solid #202020;
    border-radius: 0px;
}
