* {
    color: rgb(255, 250, 240);
}

.flex {
    background: var(--main-bg);
}

.center {
    display: flex; /* Makes the child elements align horizontally */
    height: 100vh; /* Example: Takes full viewport height */
    border-radius: 10px;
    overflow: auto;
}

.widget {
    background: var(--main-bg); 
    border-radius: 10px;
    padding: 15px;
    margin: 20px;
}
.widget-header {
    background: #e9e0cf;
    border-radius: 3px;
    margin: auto;
}
.widget-header h1 {
    font-size: 14px;
    color: #e9e0cf;
}

.widget-body {
    background: #e9e0cf;
    border-radius: 5px;
    margin: auto;
}
.widget-body p{
    font-size: 14px;
    text-align: left;
    padding: 10px;
}

.timestamp {
}

.separator {
    height: 35px;
    background: var(--panel-bg);
    border-radius: 20px;
    border: 5px solid var(--border);
    padding: 10px;
    margin: 10px;
}

.separator img {
    padding: 0px 10px;
}

.separator span {
    width: 100%;
    font-size: 25px;
    color: var(--font-color);
    font-weight: bold;
    vertical-align: bottom;
}

.main_panel {
    margin: 8px;
    border: 5px solid var(--border);
    border-radius: 10px;
    background: var(--panel-bg);
    height: 100%;
}

.main_panel p{
    text-indent: 30px;
    margin: 5px;
    padding: 5px;
    
}


.main_panel h1, h2, h3{
    background-color: var(--update-bg);
    border: 2px solid var(--update-bg);
    border-radius: 20px;
    display: table;
    margin: 10px auto;
    padding: 2px 15px;
    text-align: center;
    font-weight: bold;
}

#profile{
    float:right;
    width:100%;
    max-width:300px;
    border: 5px solid var(--border);
    margin: 10px 20px
}

.img_container img{
    float:left;
    width:100%;
    max-width:600px;
    border: 5px solid var(--border);
    margin: 10px 20px
}

